<%= form_with model: user do |f| %>
  <%= render 'shared/error_message', model: f.object %>
  <div class="mb-3">
    <%= f.label :name,t('users.name'),  style: "display: block" %>
    <%= f.text_field :name %>
  </div>
  <div class="mb-3">
    <%= f.label :email,t('users.email') ,style: "display: block" %>
    <%= f.email_field :email%>
  <div class="mb-3">
    <%= f.label :password,t('users.password'), style: "display: block" %>
    <%= f.password_field :password %>
  </div>
  <div class="mb-3">
    <%= f.label :password_confirmation,t('users.password_confirmation'), style: "display: block" %>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="mb-3">
    <%= f.submit "登録" %>
  </div>
<% end %>
