<%= form_with model: user do |f| %>
    <%= f.label :name, style: "display: block" %>
    <%= f.text_field :name %>
    <%= f.label :email, style: "display: block" %>
    <%= f.email_field :email%>
    <%= f.label :password, style: "display: block" %>
    <%= f.password_field :password %>
    <%= f.label :password_confirmation, style: "display: block" %>
    <%= f.password_field :password_confirmation %>
  <div>
    <%= f.submit "登録" %>
  </div>
<% end %>
