<h1>目標設定</h1>
<%= form_with model: [@user,@goal] do |f| %>
    <%= render 'shared/error_message', model: f.object %>
    <div class = "mb-3">
        <%= f.label :goal_weight, style: "display: block" %>
        <%= f.text_field :goal_weight %>
        <%= f.label :volume_of_acticity, style: "display: block" %>
        <%= f.select :volume_of_acticity, [["ほぼ運動しない", "low"],["軽い運動", "light"],["中程度の運動","middle"],["激しい運動","hight"],["非常に激しい運動","very_hight"]],include_blank: "選択してください" %>
    </div>
    
    <%= f.submit "保存" %>
<% end %>
